/*s main*/

::-webkit-scrollbar {
	display:none;
	-ms-overflow-style: none; 
} 


header {
	width:100%;
	height:92px;
	border-bottom:1px solid #0f4392;
	background-color: white;
}

nav ul{
	padding-top:35px;
}

nav ul li { 
	display:inline; 
	padding:0 22.5px;
} 


#logo{
	margin-left: 353.5px;
	padding-top:35px;
}

#sub_02_bg{
	width:100%;
	height:1035px;
	background-image:url(../images/sub_02_bg.jpg);
	background-size: cover;
}

#about{
	margin-left: 765px;
	font-size:15px;
	padding-top:39px;
	color:#c5c5c5;
	font-weight:300;
}

#faq{
	font-size:15px;
	padding-top:39px;
	color:#c5c5c5;
	font-weight:300;
}

#solution{
	font-size:15px;
	padding-top:39px;
	color:#0f4392;
	font-weight:300;
}


#faq:hover{
	color:#0f4392;
}

#about:hover{
	color:#0f4392;
}

.main_ment{
	position:absolute;
	font-size:28px;
	font-weight:700;
	color:#0f4392;
	top:229px;
	left:851px;
}

.main_explain{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:311px;
	left:660px;
	line-height:1.6;
	text-align:center;
	font-weight:300;
}

/*e main*/


/*s content_01*/

.sub_02_content1_bg{
	position:relative;
	width:100%;
	height:790px;
	background-color:#fff;
	box-shadow: 0px 0px 95px 1px rgba(34,34,34,0.07);
}

.character{
	position:absolute;
	width:589px;
	height:575px;
	left:672px;
	top:-545px;
	animation:updownmove 1.5s 0.3s infinite ease-in-out alternate;
}

@keyframes updownmove{

	0%{transform:translateY(0px);}

	100%{transform:translateY(20px);}

}

.bar{
	position:absolute;
	width:1px;
	height:558px;
	top:136px;
	left:970px;
	background-color:rgba(197,197,197,0.5);
}

/*section01*/

.section_left{
	position:absolute;
	top:145px;
	left:380px;
	width:532px;
	height:549px;
}

.section_left .number1{
	position:absolute;
	display:inline-block;
	top:0;
	left:0;
}

.section_left .title1{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:1px;
	left:50px;
	font-weight:700;
}

.section_left .explain1{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:60px;
	left:0;
	text-align:left;
	font-weight:300;
}

/*section02*/
.section_left .number2{
	position:absolute;
	top:210px;
	left:0;
}

.section_left .title2{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:211px;
	left:50px;
	font-weight:700;
}

.section_left .explain2{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:270px;
	left:0;
	text-align:left;
	font-weight:300;
}

/*section03*/
.section_left .number3{
	position:absolute;
	top:420px;
	left:0;
}

.section_left .title3{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:422px;
	left:50px;
	font-weight:700;
}

.section_left .explain3{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:480px;
	left:0;
	text-align:left;
	font-weight:300;
}

/*section04*/

.section_right{
	position:absolute;
	top:145px;
	left:1032px;
	width:503px;
	height:314px;
}

.section_right .number4{
	position:absolute;
	left:0px;
	top:0px;
}

.section_right .title4{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:0px;
	left:50px;
	font-weight:700;
}

.section_right .explain4{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:60px;
	left:0px;
	text-align:left;
	font-weight:300;
}

/*section05*/
.section_right .number5{
	position:absolute;
	left:0px;
	top:213px;
}

.section_right .title5{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:216px;
	left:50px;
	font-weight:700;
}

.section_right .explain5{
	position:absolute;
	font-size:17px;
	color:#0f4392;
	top:270px;
	left:0px;
	text-align:left;
	font-weight:300;
}

/*e content_01*/

/*s content_02*/

.sub_02_content2_bg{
	position:relative;
	width:100%;
	height:1012px;
	background-color:#fbfbfb;
	overflow:hidden;
}

.line{
	position:absolute;
	top:580px;
	text-align:center;
}

.sub_02_content2_bg .ment{
	position:absolute;
	top:112px;
	left:852px;
	font-size:28px;
	font-weight:700;
	color:#0f4392;
}

.sub_02_content2_bg .explain{
	position:absolute;
	top:194px;
	left:708px;
	font-size:17px;
	color:#0f4392;
	text-align:center;
	font-weight:300;
}

/*step1*/
.step1 .btn1{
	position:absolute;
	width:16px;
	height:16px;
	top:573px;
	left:502px;
	border-radius:50%;
	background-color:#fbfbfb;
	border:2px solid #ff8b8b;
	box-sizing: border-box;
}

.step1 .title1{
	position:absolute;
	top:605px;
	left:486px;
	font-size:15px;
	font-weight:500;
	color:#ff8b8b;
}

.step1 .btn1:hover{
	background-color:#ff8b8b;
}

.step1 .step1_img{
	box-shadow: 0px 0px 30px 1px rgba(51,51,51,0.5);
	display:none;
}

/*step2*/
.step2 .btn2{
	position:absolute;
	width:16px;
	height:16px;
	top:592px;
	left:800px;
	border-radius:50%;
	background-color:#fbfbfb;
	border:2px solid #ff8b8b;
	box-sizing: border-box;
}

.step2 .title2{
	position:absolute;
	top:628px;
	left:785px;
	font-size:15px;
	font-weight:500;
	color:#ff8b8b;
}

.step2 .btn2:hover{
	background-color:#ff8b8b;
}

.step2 .step2_img{
	box-shadow: 0px 0px 30px 1px rgba(51,51,51,0.5);
	display:none;
}

/*step3*/
.step3 .btn3{
	position:absolute;
	width:16px;
	height:16px;
	top:636px;
	left:1100px;
	border-radius:50%;
	background-color:#fbfbfb;
	border:2px solid #ff8b8b;
	box-sizing: border-box;
}

.step3 .title3{
	position:absolute;
	top:672px;
	left:1085px;
	font-size:15px;
	font-weight:500;
	color:#ff8b8b;
}

.step3 .btn3:hover{
	background-color:#ff8b8b;
}

.box3{
	width:280px;
	height:420px;
	background-image: url(../images/sub_02_step3.jpg);
	display:none;
}

.arrow1{
	position:absolute;
	top:276px;
	left:243px;
	display:none;
}

.step3-1_img{
	display:none;
}

/*step4*/

.step4 .btn4{
	position:absolute;
	width:16px;
	height:16px;
	top:674px;
	left:1400px;
	border-radius:50%;
	background-color:#fbfbfb;
	border:2px solid #ff8b8b;
	box-sizing: border-box;
}

.step4 .title4{
	position:absolute;
	top:710px;
	left:1384px;
	font-size:15px;
	font-weight:500;
	color:#ff8b8b;
}

.step4 .btn4:hover{
	background-color:#ff8b8b;
}

.box4{
	width:280px;
	height:420px;
	background-image: url(../images/sub_02_step4.jpg);
	display:none;
}

.arrow1{
	position:absolute;
	top:276px;
	left:243px;
	display:none;
}


/*s footer*/

.footer {
	position:absolute;
	width:100%;
	height:213px;
	top:2837px;
	background-color:#fff;
	
}

.footer .logo{
	position:absolute;
	top:55px;
	left:370px;
}

.footer .text{
	position:absolute;
	top:153px;
	left:369px;
	font-size:15px;
	font-weight:300;
	color:#c5c5c5;
}

.footer .zigzag{
	position:absolute;
	top:76px;
	left:1480px;

}

.footer .facebook{
	position:absolute;
	top:90px;
	left:1488px;
	font-size:15px;
	color:#c5c5c5;
	font-weight:300;
}

.footer .insta{
	position:absolute;
	top:123px;
	left:1483px;
	font-size:15px;
	color:#c5c5c5;
	font-weight:300;
}

.footer .twitter{
	position:absolute;
	top:157px;
	left:1507px;
	font-size:15px;
	color:#c5c5c5;
	font-weight:300;

}